<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="jquery/jquery.min.js"></script>
    <!---- jquery link local dont forget to place this in first than other script or link or may not work ---->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!---- boostrap.min link local ----->

    <link rel="stylesheet" href="css/style.css">
    <!---- boostrap.min link local ----->

    <script src="js/bootstrap.min.js"></script>
    <!---- Boostrap js link local ----->

    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <!---- Icon link local ----->

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!---- Font awesom link local ----->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_ba/css/style.css' %}">
    <title>All Books</title>
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <body>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <form action="add_author" method="post">
                            {% csrf_token %}
                            <fieldset class="register">
                                <p style="color: white;"></p>

                                <p class="text-uppercase pull-center wh">ADD AN AUTHOR!</p>
                                <div class="form-group">
                                    <input type="text" name="first_name" id="fname" class="form-control input-lg"
                                        placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="last_name" id="fname" class="form-control input-lg"
                                        placeholder="Last Name">
                                </div>
                                <div class="form-group wh">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="notes"
                                        rows="3" placeholder="Notes"></textarea>
                                </div>

                                <div>
                                    <input type="submit" class="btn btn-lg cnt darkb" value="ADD">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-5 white">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for author in all_authors %}
                                <tr>
                                    <td class="blk">{{author.id}}</td>
                                    <td>{{author.first_name}} {{author.last_name}}</td>
                                    <td><a href="view_author/{{author.id}}">Views</a></td>
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        </div>
    </body>