<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viewing Book</title>
</head>

<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <h3>ID: {{author.id}}</h3>
    <h3>Notes:</h3>
    <p>{{author.notes}}</p>
    <h3>Books</h3>
    {% for book in authors_books %}
    <p>{{book.title}}</p>
    {% endfor %}

    <form action="/append_book_to_author/{{author.id}}" method="post">
            {% csrf_token %}    
        <select name="book_titles" size="3">
                {% for book in all_books %}
                <option value = {{book.id}}>{{book.title}}</option>
                {% endfor %}
        </select>
        <br><br>
        <input type="submit">
      </form>
<a href="/authors">Go Home</a>
</body>
</html>