<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viewing Book</title>
</head>

<body>
    <h1>{{book.title}}</h1>
    <h3>ID: {{book.id}}</h3>
    <h3>Description:</h3>
    <p>{{book.desc}}</p>
    <h3>Authors</h3>
    {% for auth in books_authors %}
    <p>{{auth.first_name}}</p>
    {% endfor %}

    <form action="/append_author_to_book/{{book.id}}" method="post">
            {% csrf_token %}    
        <select name="author_list" size="3">
                {% for auth in all_authors %}
                <option value = {{auth.id}}>{{auth.first_name}} {{auth.last_name}}</option>
                {% endfor %}
        </select>
        <br><br>
        <input type="submit">
      </form>
<a href="/">Go Home</a>
</body>
</html>